.compare h1 {
    font-family: 'Libre Bodoni', serif;
    font-weight: bold;
    font-size: 2em;
    padding-top: 1px;
    color: #e5fff4;
}

.form {
    display: flex;
    justify-content: center;
}
.form_city {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 1em;
}

input[type="text"] {
    margin: 0.3em;
    box-shadow: 0px 1px 8px 0px rgb(0 0 0 / 78%);
}

.formCity_style { 
    background: rgba(30, 127, 1, 0);   
    font-weight: bold;
    font-size: 1.1em;
}

.form_city p {
    border-bottom: groove;
    font-weight: bold;
    font-size: 20px;
    margin: 2px;
}
