.active-link{
    background-image: linear-gradient(to right, #387069 0%, #628f91  51%, #77A1D3  100%);
    border-radius: 50px;
} 
  
   nav a:hover {
     background-position: right center;
     color: #fff;
     text-decoration: none;
   }
  
header{
  display: flex;
  justify-content: center;
  padding-top: 1.8em;
}

nav a {
  text-decoration: none;
  font-weight: bolder;
  font-size: 1.3em;
  line-height: 16px;
  letter-spacing: 0.1em;
  color: white;  
  padding: 0em 3em;
}