@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@700&family=Sansita+Swashed:wght@600;795;900&display=swap');

.blockquote-5 {
    font-family: 'Sansita Swashed', cursive;
    padding: 16px 24px 5px;
    margin: 16px 16px 26px 16px;
    font-size: 16px;
    background: rgb(62 77 82 / 20%);
    border-top: 2px solid #648099;
    border-bottom: 2px solid #648099;
    display: flex;
    position: absolute;
    bottom: 0;
}

.blockquote-5 h3 {
    color: #b5ddc8;
    font-size: 15px;
    padding-top: 6px;
    display: block;
    font-weight: bolder;
    text-align: center;
}
.blockquote-5 h2 {
    color: #dcffed;
    font-size: 1.3em;   
    text-align: center;
}
.itigenik{
    background: url('../styles//itgenik.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 10em;
    height: 8em;
}
p.itigenik_title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.itigenikQuote_quote {
    display: flex;
    align-items: flex-end;
    background: #387069;
    height: 4em;
    border-radius: 10px;
}

.itigenikQuote {
    display: flex;
    align-content: center;
    justify-content: center;
}

@media (max-width: 723px) { 
    nav {
        text-align: center;
    }
    
    nav a {
        padding: 0em 1em;
    }
}

