@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@700&family=Sansita+Swashed:wght@600;795;900&display=swap');

.main {
    min-height: 62vh;
}
.row {
    margin-bottom: 1em;
}

.cow-sm-7 h1{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    line-height: 23px;
    letter-spacing: 0.1em;
    padding: 3.2em 0 1em;
}

.cow-sm-7 h2{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;
    line-height: 14px;
    letter-spacing: 0.1em;  
}

.cow-sm-7 h2 div{
    font-weight: bold;
    font-size: 2.2em;
    line-height: 51px;
    text-align: center;
    letter-spacing: 0.1em;
    padding-top: 1px;
}

.row-sm-5 h3{
    font-size: calc(1.3rem + .6vw);
    background: white;
    color: #35423d;
    max-width: 19.5em;
    padding: 0.5em;
    margin: 0 auto;
    border-radius: 10px;
    font-weight: 700;
    margin-top: 1em;

    
}

form.formTown {
    position: relative;
    margin: 0 auto;
    margin-top: 1.5em;
}

.row-sm-7.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formTown input[type="text"]{
    border-radius: 15px 0 0 15px;
    width: 17em;
    height: 2.8em;
    background: #e8e8e8;
    border: 00;
    outline: none;
    padding: 1em;
    margin: 0;
}

.infoWeath {
    font-weight: bold;
}


@media (max-width: 750px) { 

}

@media (max-width: 520px) { 
    .formTown input[type="text"] {
        width: 11em;
    }
    .bott {
        font-size: 13px;
            height: 3.88em;
    }
}