@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@700&family=Sansita+Swashed:wght@600;795;900&display=swap');

.cow-sm-7 {
    /* background: rgb(62 77 82 / 20%);
    border: 1px solid;
    margin-top: 1em;
    margin-bottom: 1em; */
}

.cow-sm-7 h1{
    /* font-family: 'Sansita Swashed', cursive;
    font-weight: bold;
    font-size: 4.5em;
    text-align: center;
    color: #5289a3;
    text-shadow: -1px 0 1px #fff, 0 -1px 1px #fff, 0 1px 1px #fff, 1px 0 1px #fff, 0 0 8px #fff, 0 0 8px #fff, 0 0 8px #fff, 2px 2px 3px #000;
    margin: 0; */

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    line-height: 23px;
    letter-spacing: 0.1em;
    padding: 3.5em 0 1em;
}

.cow-sm-7 h2{

    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3em;
    line-height: 14px;
    letter-spacing: 0.1em;

    /* font-family: 'Sansita Swashed', cursive;
    margin: 0.5em;
    font-size: 3rem;
    text-align: center;
    color: #8ec9e4;
    font-weight: bold; */
   
}
.cow-sm-7 h2 div{
    font-weight: bold;
    font-size: 2.2em;
    line-height: 51px;
    text-align: center;
    letter-spacing: 0.1em;
}
.row-sm-7.form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formTown input[type="text"]{
    margin: 0;
}

.infoWeath {
    font-weight: bold;
}